<section
  style="background-color: white; padding: 20px"
  class="ae-container-fluid ae-container-fluid--inner rk-portfolio"
>
  <div id="perfilList">
    <h3 style="margin: 10px">
      <img src="assets/img/list.png" /> Listado de RECLAMOS
    </h3>
    <hr />
    <div class="row" style="padding: 15px">
      <div style="text-align: left" class="col-md-6">
        <a type="button" [routerLink]="['/home']" class="btn btn-info">
          Crear Nueva Pqr
        </a>
      </div>
    </div>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Pqr Origen</th>
          <th scope="col">Codigo pqr</th>
          <th scope="col">Fecha Creacion</th>
          <th scope="col">Descripcion</th>
          <th scope="col">&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="
            let pqr of pqrs
              | paginate: { itemsPerPage: 10, currentPage: pageActual }
          "
        >
          <td scope="row">{{ pqr.idPqrType.name }}</td>
          <td scope="row">{{ pqr.claim.settled }}</td>
          <td scope="row">{{ pqr.claim.created | date: "medium" }}</td>
          <td scope="row">
            {{
              pqr.claim.messageUser.length > 30
                ? (pqr.claim.messageUser | slice: 0:30) + "..."
                : pqr.claim.messageUser
            }}
          </td>

          <td>
            <img
              [routerLink]="['/item', pqr._id]"
              src="assets/img/detail.png"
              title="Ver Detalles"
            />
          </td>
        </tr>
      </tbody>
    </table>

    <div class="row">
      <hr />
      <pagination-controls
        (pageChange)="pageActual = $event"
        previousLabel="Anterior"
        nextLabel="Proximo"
      ></pagination-controls>
    </div>
  </div>
</section>
