<section *ngIf="pqr" style="background-color: white; padding: 40px">
  <div class="ae-container-fluid">
    <div class="ae-grid ae-grid--collapse rk-portfolio-info">
      <div
        class="
          ae-grid__item
          item-lg-8
          item-sm--center
          au-xs-ta-center au-lg-ta-left
        "
      >
        <h2 class="rk-portfolio-inner-title">{{ pqr.idPqrType.name }}</h2>
      </div>
      <div
        style="margin-left: -60px"
        class="
          ae-grid__item
          item-lg-4
          au-xs-ta-center au-lg-ta-right
          rk-portfolio-details
        "
      >
        <p class="rk-portfolio-inner-client">
          <span class="ae-lambda">Codigo: </span>
          <span class="ae-u-bolder">{{ pqr.settled }}</span>
        </p>
        <p class="au-underline rk-portfolio-inner-website">
          <span class="ae-lambda">Fecha Creacion: </span
          >{{ pqr.createdAt | date: "medium" }}
        </p>
      </div>
    </div>
  </div>
  <hr />
  <div class="ae-container-fluid ae-container-fluid--inner rk-portfolio--inner">
    <h3 class="ae-u-bolder">Descripcion</h3>
    <span>{{ pqr.description }}</span>
  </div>
  <hr />
  <div
    *ngIf="pqr.response"
    class="ae-container-fluid ae-container-fluid--inner rk-portfolio--inner"
  >
    <h3 class="ae-u-bolder">Respuesta</h3>
    <h6>{{ pqr.response.date | date: "medium" }}</h6>
    <span>{{ pqr.response.message }}</span>
  </div>
  <hr />
  <div
    *ngIf="pqr.claim"
    class="ae-container-fluid ae-container-fluid--inner rk-portfolio--inner"
  >
    <h3 class="ae-u-bolder">Reclamo Creado</h3>
    <h6>{{ pqr.claim.created | date: "medium" }}</h6>
    <h6>Codigo Reclamo {{ pqr.claim.settled }}</h6>
    <span>{{ pqr.claim.messageUser }}</span>
  </div>
</section>
