.container {
  padding: 100px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.col-md-6 {
  margin: 0 auto;
}

.panel-create {
  border-color: #ccc;
  -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
  background-color: white;
}

.btn-create {
  background-color: #007bff;
  outline: none;
  color: #fff;
  font-size: 14px;
  height: auto;
  font-weight: normal;
  padding: 14px 0;
  text-transform: uppercase;
  border-color: #59b2e6;
}
.btn-create:hover,
.btn-create:focus {
  color: #fff;
  background-color: #53a3cd;
  border-color: #53a3cd;
}
