<div class="container">
  <div class="panel panel-create">
    <h1>Radicar PQR</h1>
    <form style="margin: 50px" (ngSubmit)="CreatePqr(lForm)" #lForm="ngForm">
      <div class="form-group">
        <span
          class="textError animated fadeIn"
          *ngIf="lForm.submitted && lForm.controls['idpqrtype'].errors"
          >Campo Tipo de pqr Es Obligatorio</span
        >

        <select
          [(ngModel)]="pqr.IdPqrType"
          #mySelect
          required
          name="idpqrtype"
          id="idpqrtype"
          class="form-control"
          placeholder="Tipo de pqr"
          (change)="validateTypePqr(mySelect.value)"
        >
          <option value="" disabled selected>Selecciona un tipo de Pqr</option>
          <option *ngFor="let type of pqrType" [value]="type._id">
            {{ type.name }}
          </option>
        </select>
      </div>

      <div *ngIf="isClaim" class="form-group">
        <p style="text-align: justify">
          Solo se puede registrar un reclamo sobre una petición o queja
          realizada hace más de 5 días, o que tenga respuesta<br />
          <b>Ingrese el codigo de su PQR</b>
        </p>
        <span
          class="textError animated fadeIn"
          *ngIf="lForm.submitted && lForm.controls['settled'].errors"
          >Campo Codigo Es Obligatorio</span
        >
        <input
          type="number"
          [required]="isClaim"
          [(ngModel)]="pqr.Settled"
          name="settled"
          autocomplete="false"
          id="settled"
          class="form-control"
          placeholder="Codigo PQR"
        />
      </div>

      <div class="form-group">
        <span
          class="textError animated fadeIn"
          *ngIf="lForm.submitted && lForm.controls['description'].errors"
          >Campo Descripcion Es Obligatorio</span
        >
        <textArea
          required
          ngModel
          ngDefaultControl
          name="description"
          id="description"
          class="form-control"
          placeholder="Descripcion"
          rows="5"
          maxlength="300"
        ></textArea>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-sm-12 col-sm-offset-3">
            <input
              type="submit"
              name="create-submit"
              id="create-submit"
              tabindex="4"
              class="form-control btn btn-create"
              value="Radicar"
            />
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
