<footer class="ae-container-fluid rk-footer">
  <div class="ae-grid ae-grid--collapse">
    <div class="ae-grid__item item-lg-4 au-xs-ta-center au-lg-ta-left">
      <p class="rk-footer__text rk-footer__copy">
        <span class="ae-u-bold">© </span
        ><span class="ae-u-bolder">{{ anio }} {{ infoPag.info.titulo }} </span
        >Todos los Derechos Reservados.
      </p>
    </div>

    <div class="ae-grid__item item-lg-4 au-xs-ta-center au-lg-ta-right">
      <p class="rk-footer__text rk-footer__contact">
        <span class="ae-u-bold">Email: </span
        ><span class="ae-u-bolder">
          <a href="#0" class="rk-dark-color">{{ infoPag.info.Email }} </a></span
        >
      </p>

      <p class="rk-footer__text rk-footer__by">
        Desarrollado Por : <a href="#" class="ae-u-bolder">Jorge Gutierrez.</a>
      </p>
    </div>
  </div>
</footer>
